body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 120%;
}

/* Header Main */

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 80px;
    background-color: #DDB892;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
}

.header__login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
    color: #9C6644;
    font-weight: bold;
}
.header__login h3{
    margin: 10px 0;
}

.register-login {
    display: flex;
    justify-content: space-around;
    width: 90%;
    align-items: center;
}
.register-login a{
    color: #9C6644;
}

.header__input{
    border: none;
    outline: none;
    border-radius: 11px;
    padding: 0 10px;
    background-color: #7f5539;
    color: #E6CCB2;
    font-weight: bold;
    line-height: 1.5rem;
    width: 110px;
    margin: 5px;
}


/* Navbar */

.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #9C6644;
    color: #DDB892;
    font-weight: 500;
}

.navbar__list{
    display: flex;
    width: 60%;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    line-height: 3rem;
}

.navbar__item{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}   
.navbar__link{
    text-decoration: none;
    color: black;   
    height: 100%;
    width: 70%;
    display: block;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid transparent;
    color: #DDB892;
}

.navbar__link:hover{
    color: #ede0d4
}

#categories{
    position: relative;
    pointer-events: none;
}

#categories::after{
    content: " ";
    position: absolute;
    transform: rotate(180deg);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #E6CCB2;
    top:calc(50% - 5px);
    right:-25px;
    pointer-events: all;
}

.header__searchbar{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 40px;
    justify-content: flex-end;
    padding-right:0.8rem ;
    margin: auto;
}

.searchbar__input{
    border: none;
    outline: none;
    height: 70%;
    border-radius: 11px;
    padding:0 10px;
    background-color: #E6CCB2;
    color:#7f5539;
    font-weight: bold;
}

.searchbar__button{
    width: 35px;
    transition: 300ms ease-in;
}

.searchbar__button:hover{
    transform: scale(1.1);
}