body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 120%;
    color:#9c6644 ;
}
:root {
    --primary-color: rgba(221, 184, 146, 0.68);
    --secondary-color: #9C6644;
    --nav-color: #DDB892;
}
/* Home*/

/* Header Main */

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 80px;
    background-color: var(--nav-color);
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
}

.header__login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
    color: var(--secondary-color);
    font-weight: bold;
    margin: 0;
}
.header__login h3{
    margin: 10px 0;
}

.register-login {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.register-login a{
    color: var(--secondary-color);
}

.header__input{
    border: none;
    outline: none;
    border-radius: 11px;
    padding: 0 10px;
    background-color: #7f5539;
    color: #E6CCB2;
    font-weight: bold;
    line-height: 1.5rem;
    width: 120px;
    margin: 5px;
}

.login__button{
    width: 90px;
}


/* Navbar */

.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--nav-color);
    font-weight: 500;
}

.navbar__list{
    display: flex;
    width: 60%;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    line-height: 3rem;
}

.navbar__item{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}   
.navbar__link{
    text-decoration: none;
    color: black;      
    height: 100%;
    width: 70%;
    display: block;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid transparent;
    color: var(--nav-color);
}

.navbar__link:hover{
    color: #ede0d4;
}

#categories{
    position: relative;
    pointer-events: none;
}

#categories::after{
    content: " ";
    position: absolute;
    transform: rotate(180deg);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #E6CCB2;
    top:calc(50% - 5px);
    right:-25px;
    pointer-events: all;
}

.header__searchbar{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 40px;
    justify-content: flex-end;
    padding-right:0.8rem ;
    margin: auto;
}

.searchbar__input{
    border: none;
    outline: none;
    height: 70%;
    border-radius: 11px;
    padding:0 10px;
    background-color: #E6CCB2;
    color:#7f5539;
    font-weight: bold;
}

.searchbar__button{
    width: 35px;
    transition: 300ms ease-in;
}

.searchbar__button:hover{
    transform: scale(1.1);
}

/* about us */

.main__aboutus{

max-width: 1200px;
margin: auto;
padding: 30px 15px ;
}
.aboutus__title{
    font-size: 2.4rem;
    border-bottom: 2px solid #7f5539;
    padding-bottom: 15px;
    display: block;
    width: fit-content;
}
.aboutus__wrapper{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 30px;
    font-size: 1.1rem;
    font-weight: 500;
}
.aboutus__text{
margin:0 ;
margin-bottom:auto ;
text-align: justify;
line-height: 1.8rem;
width: 50%;
}
.aboutus__img{
    width: 45%;
}






/* form style */
.beans_img{
    transform: rotate(180deg);
}
.main_registr{
    text-align: center;
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-bottom: 8rem;
}
.main_form{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--secondary-color);
}
.container_form div:not(:last-child){
    display: flex;
    justify-content: space-between;
}
.container_form div:not(:last-child){
    margin-bottom: 15px;
}
.container_form div input, .container_form div select{
    padding: 0.5rem;
    width: 30rem;
    font-size: 1.2rem;
    outline: 0;
    border: none;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 10px;
}
.container_form div select{
    appearance: none;
}
.container_form div input::placeholder{
    color: white;
}
.container_form div button{
    padding: 0.5rem;
    width: 12rem;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: white;
    font-size: 20px;
    margin-top: 5rem;
}
.press_to_rest{
    display: flex;
    justify-content: flex-end;
}
.coffe_cup{
    position: relative;
}
.coffe_cup img{
    position: absolute;
    right: 0;
    bottom: 0;
    object-position: 75px 130px;
}

/* Categories Page */

/* Category Heading */
.image--heading{
    width: 100%;
}
.body--headingContainer{
    display: flex;
    color: var(--secondary-color);
    justify-content: center;
}
.body--headingContainer h1{
    padding-top: 1.3rem;
    font-size: 40pt;
}
.image--headTitle{
    width: 10%;
    height: 10%;
}
/* Categories Section */
.body__main--contain{
    margin: 0 10rem;
    padding-bottom: 50px;
}
.contain{
    display: flex;
    justify-content: space-between;
    font-size: 20pt;
    margin: 1rem 0;
    color: var(--secondary-color);
    font-weight: bold;
}

.image--cold{
    width: 12%;
    height: 12%;
}

.dot{
    border-bottom: dotted 4px var(--secondary-color);
    width: 70%;
    height: 12px;
    margin: 0 5px 0 5px;
}
    



